.my-app-personal {
  font-family: HarmonyOS Sans SC;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .app-content {
    display: flex;
    flex: 1;
    //border-top: 1px solid transparent;
    overflow: hidden;
    .app-content-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 25px;
      overflow: hidden;
      .content-header {
        font-size: 18px;
        font-weight: 500;
        color: var(--text-color1);
        svg {
          margin-right: 8px;
          vertical-align: bottom;
        }
      }
      .personal-data{
        display: flex;
        flex: 1;
        gap: 25px;
        overflow: hidden;
        .personal-data-left{
          margin-top: 20px;
          width: 290px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          .personal-data-box1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .userName{
              font-size: 18px;
              font-weight: 500;
              color: var(--text-color1);
            }
            .name{
              font-size: 12px;
              color: #A5A5C1;
            }
          }
          .personal-data-box2{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .edit-btn{
              cursor: pointer;
              display: flex;
              gap: 10px;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              font-weight: 500;
              color: #fff;
              background: #5A4BFF;
              padding: 9px 10px;
              border-radius: 4px;
            }
            .desc{
              color: #A5A5C1;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
        .personal-data-right{
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-data-waxberry-empty{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .desc{
              font-size: 20px;
              color: var(--text-color1);
            }
            .link{
              cursor: pointer;
              color: var(--text-color7);
              border-radius: 200px;
              padding: 7px 30px;
              background: var(--bg-color24);
              border: 1px solid var(--bd-color7);
              img{
                vertical-align: sub;
                margin-right: 5px;
              }
            }
          }
          .menus{
            display: flex;
            gap: 25px;
            border-bottom: 1px solid var(--bd-color9);
            .menu{
              cursor: pointer;
              color: var(--text-color1);
              font-size: 16px;
              font-weight: 500;
              padding: 12px 0px;
            }
            .menu-active{
              margin-bottom: -1px;
              border-bottom: 2px solid #493BD7;
            }
          }
          .content-data{
            flex: 1;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            overflow: auto;
            &::-webkit-scrollbar{
              width: 0;
              height: 0;
            }
            .card{
              cursor: pointer;
              position: relative;
              width: 356px;
              height: 416px;
              display: flex;
              gap: 15px;
              flex-direction: column;
              padding: 16px;
              background: var(--bg-color33);
              border-radius: 10px;
              .custom{
                position: absolute;
                left: 25px;
                top: 25px;
                color: #FFFFFF;
                padding: 3px 12px;
                border-radius: 4px;
                background: #00904F;
              }
              .card-title{
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                .label{
                  flex: 1;
                  display: flex;
                  align-items: center;
                  font-size: 18px;
                  color: var(--text-color1);
                  overflow: hidden;
                  .labelName{
                    max-width: calc(100% - 80px);
                    overflow: hidden; /* 隐藏超出部分 */
                    white-space: nowrap; /* 防止换行 */
                    text-overflow: ellipsis; /* 显示省略号 */
                  }
                  .typeFrame{
                    display: flex;
                    align-items: center;
                    padding: 6px;
                    border-radius: 4px;
                    font-size: 12px;
                    margin-left: 8px;
                    color: var(--text-color7);
                    background-color: var(--bg-color39);
                    img {
                      width: 14px;
                      height: 14px;
                      margin-right: 4px;

                    }
                  }

                }
                .user{
                  display: flex;
                  gap: 10px;
                  align-items: center;
                  color: var(--text-color1);
                }
              }
              .card-desc{
                color: var(--text-color12);
                display: -webkit-box;            /* 使元素成为弹性容器 */
                -webkit-box-orient: vertical;    /* 设置容器为垂直排列 */
                -webkit-line-clamp: 3;          /* 限制显示三行 */
                overflow: hidden;               /* 隐藏超出部分 */
                text-overflow: ellipsis;
                line-height: 1.7;
              }
              .card-tags{
                display: flex;
                gap: 20px;
                color: var(--text-color11);
                .tag{
                  padding: 4px 16px;
                  background: var(--bg-color34);
                }
              }
              .card-footer{
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .data{
                  display: flex;
                  gap: 20px;
                  color: var(--text-color1);
                  .anticon{
                    color: inherit;
                    margin-right: 10px;
                  }
                }
                .runDiv{
                  display: flex;
                  gap: 1px;
                  color: #FFFFFF;
                  .run{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-size: 18px;
                    border-radius: 8px 0px 0px 8px;
                    padding: 7px 18px;
                    background: #5A4BFF;
                  }
                  .count{
                    font-size: 18px;
                    border-radius: 0 8px 8px 0;
                    padding: 7px 18px;
                    background: #5A4BFF;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.operate-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  .operate-modal-box{
    display: flex;
    flex-direction: column;
    width: 650px;
    border-radius: 12px;
    background: var(--bg-color41);
    border: 1px solid var(--bd-color10);
    .box-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 16px 24px;
      border-bottom: 1px solid var(--bd-color10);

      .label{
        color: var(--text-color1);
        font-size: 18px;
        font-weight: bold;
      }
      .anticon {
        cursor: pointer;
        color:var(--text-color1);
      }
    }

    .ant-form{
      padding: 16px 24px;
      display: flex;
      flex-direction: column;
      gap:16px;
      color:var(--text-color1);
      .uploadImage{
        color:var(--text-color1);
        svg{
           cursor: pointer;
        }
      }
      .ant-form-item{

        label{
          color: var(--text-color1);
          font-size: 16px;
        }
        .ant-input{
          color: var(--text-color1);
          padding: 9px;
          height: 38px;
          border: 1px solid var(--bd-color10);
          background: var(--bg-color12);
          &::placeholder{
            color: var(--text-color9);
          }
        }
        textarea.ant-input {
          width: 100%;
          height: auto;
          resize: none;
          vertical-align: bottom;
          &::-webkit-scrollbar{
            width: 0;
            height: 0;
          }
        }

      }
    }
    .box-footer{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 24px;
      gap: 8px;
      .ok{
        cursor: pointer;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 24px;
        border-radius: 4px;
        background: #4C74FF;
      }
      .close{
        cursor: pointer;
        color: var(--text-color1);
        font-size: 14px;
        font-weight: 500;
        padding: 7px 24px;
        border-radius: 4px;
        background: var(--bg-color26);
        border: 1px solid var(--bd-color8);
      }
    }
  }
}
