.my-app{
  font-family: HarmonyOS Sans SC;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .app-content{
    display: flex;
    flex: 1;
    //border-top: 1px solid transparent;
    overflow: auto;
    .app-content-right {
      min-width: 1280px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 32px;
      overflow-x: hidden;
      &::-webkit-scrollbar{
        width: 0;
        height: 0;
      }
      .header-logo{
        position: relative;
        width: 100%;
      }
      .app-content-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 500;
        color: var(--text-color1);
        .more{
          cursor: pointer;
          display: flex;
          align-items: center;
          font-size: 14px;
          font-weight: normal;
          .anticon{
            font-size: 10px;
            margin-left: 5px;
          }
        }
      }
      .guide{
        display: flex;
        gap: 20px;
        img{
          cursor: pointer;
          width: calc(25% - 13px);
        }
      }
      .content-data{
        min-height: 416px;
        flex: 1;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .card{
          cursor: pointer;
          position: relative;
          width: calc(25% - 15px);
          height: 416px;
          display: flex;
          gap: 15px;
          flex-direction: column;
          padding: 16px;
          background: var(--bg-color33);
          border-radius: 10px;
          .custom{
            position: absolute;
            left: 25px;
            top: 25px;
            color: #FFFFFF;
            padding: 3px 12px;
            border-radius: 4px;
            background: #00904F;
          }
          .card-title{
            display: flex;
            justify-content: space-between;
            .label{
              display: flex;
              align-items: center;
              font-size: 18px;
              width: 60%;
              color: var(--text-color1);
              .labelName{
                width: calc(100% - 74px);
                overflow: hidden; /* 隐藏超出部分 */
                white-space: nowrap; /* 防止换行 */
                text-overflow: ellipsis; /* 显示省略号 */
              }
              .typeFrame{
                display: flex;
                align-items: center;
                padding: 6px;
                border-radius: 4px;
                font-size: 12px;
                margin-left: 8px;
                color: var(--text-color7);
                background-color: var(--bg-color39);
                img {
                  width: 14px;
                  height: 14px;
                  margin-right: 4px;

                }
            }

          }
            .user{
              display: flex;
              gap: 10px;
              align-items: center;
              color: var(--text-color1);
            }
          }
          .card-desc{
            color: var(--text-color12);
            height: 71.38px;
            display: -webkit-box;            /* 使元素成为弹性容器 */
            -webkit-box-orient: vertical;    /* 设置容器为垂直排列 */
            -webkit-line-clamp: 3;          /* 限制显示三行 */
            overflow: hidden;               /* 隐藏超出部分 */
            text-overflow: ellipsis;
            line-height: 1.7;
          }
          .card-tags{
            display: flex;
            gap: 20px;
            color: var(--text-color11);
            .tag{
              padding: 4px 16px;
              background: var(--bg-color34);
            }
          }
          .card-footer{
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .data{
              display: flex;
              gap: 20px;
              color: var(--text-color1);
              .data-div{
                display: flex;
                gap: 10px;
                align-items: center;
                svg{
                  width: 16px;
                  height: 16px;
                }
              }
            }
            .runDiv{
              display: flex;
              gap: 1px;
              color: #FFFFFF;
              .run{
                display: flex;
                gap: 5px;
                align-items: center;
                //font-size: 18px;
                border-radius: 6px 0px 0px 6px;
                padding: 5px 16px;
                background: #5A4BFF;
                img{
                  width: 14px;
                  height: 14px;
                }
              }
              .count{
                font-size: 18px;
                border-radius: 0 8px 8px 0;
                padding: 7px 18px;
                background: #5A4BFF;
              }
            }
          }
        }
      }
    }
  }
}
